language: php

php:
  - 5.3.3
  - 5.4
  - 5.5
  - 5.6

before_script:
  - composer self-update
  - composer install --no-interaction --dev

script: "./vendor/bin/tester tests/unit && ./vendor/bin/tester tests/integration"
