extensions:
	- ErrorPresenterExtension
	- PresenterMappingExtension
	- RouterProviderExtension
	- LatteMacrosProviderExtension
	- TemplateHelpersProviderExtension
	- TemplateHelpersProviderExtension # make sure it is working with duplicated services
	- TracyBarProviderExtension
	- TracyBlueScreenProviderExtension
	- ParametersExtension
	- Flame\Modules\DI\ModulesExtension
