extensions:
	- Flame\Modules\DI\ModulesExtension
	- ErrorPresenterExtension
	- PresenterMappingExtension
	- RouterProviderExtension
	- LatteMacrosProviderExtension
	- TemplateHelpersProviderExtension
	- TracyBarProviderExtension
	- TracyBlueScreenProviderExtension
