#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	test: aa


php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	session:
		expiration: 14 days

extensions:
	- Flame\Modules\DI\ModulesExtension
	- App\AppModule\DI\AppExtension
	- App\MacroModule\DI\MacroExtension
	- App\HelperModule\DI\HelperExtension
